

  body {
    background-color: #252323;
    font-family: "Roboto", sans-serif ;
    color: #F5F1ED;
  }
  a {
    text-decoration: none;
    color: #A99985

  }
  a:hover {
    background-color: #DAD2BC;
  }

  a:active {
    background-color: #252323;
  }

  h1 {
    
    text-align: left;
  }

  .loc {
    text-align: right;
  }

  .descricao {
    background-color: #DAD2BC ;
    color: #252323;
    border-radius: 100px;

  }

  .logica, .qualidade,.ub, .hc {
    font-style:italic;
    font-size: 15px;
  }
  
  img {
  border-radius: 50%;
   
  }
