

  body {
    background-color: rgb(236, 242, 243);
    font-family: monospace, Courier
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-family: Courier, monospace;
    text-align: left;
  }
  .descricao {
    font-family: Courier, monospace;
    text-align: justify;

  }

  .resido {
    font-weight: bold;
    text-align: right;
  }

  .logica, .qualidade,.js, .sql {
    font-style:italic;
    font-size: 15px;
  }
  
  img {
  border-radius: 50%;
  }